# .gitconfig - Git configuration

[user]
	name = Peter N.
	email = peternutter100@gmail.com

[init]
	defaultBranch = main

[core]
	editor = vim
	autocrlf = input
	pager = less -FRX

[pull]
	rebase = true

[push]
	autoSetupRemote = true

[alias]
	s = status
	d = diff
	l = log --oneline -20
	lg = log --graph --oneline --decorate -20
	co = checkout
	br = branch
	cm = commit
	last = log -1 HEAD

[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true

[color]
	ui = auto

[include]
	path = ~/.gitconfig.local
[credential]
	helper = "!f() { echo \"username=x-access-token\"; echo \"password=$GITHUB_TOKEN\"; }; f"
