# .gitconfig - Git configuration

[user]
	name = Peter N.
	email = peternutter100@gmail.com

[init]
	defaultBranch = main

[core]
	editor = vim
	autocrlf = input
	pager = less -FRX

[pull]
	rebase = true

[push]
	autoSetupRemote = true

[alias]
	s = status
	d = diff
	l = log --oneline -20
	lg = log --graph --oneline --decorate -20
	co = checkout
	br = branch
	cm = commit
	last = log -1 HEAD

[color]
	ui = auto
